body{
    position: absolute;
    background:white;
    height: 2500px;
    margin: 0;
    padding: 0;
}
.header {
    height:80px;
    background:white;
    width:100%;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    color: #2e2e2e;
    font-family: Helvetica, sans-serif;
    letter-spacing: 1px;
    z-index:999;
}
.content {
    width:100%;
    background: yellow;
    border: 1px solid #CCC;
    height: 2000px;
}

.astext {
    background:none;
    border:none;
    padding-left: 10px;
    padding-right: 10px;
    color: #2e2e2e;
    font-family: Helvetica, sans-serif;
    letter-spacing: 1px;
    font-size: 13px;
    top; 33.5px;
}

.navButtons {
    margin-left: 30px;
    margin-top: 30px;
    float:left;
}

#title {
  text-align: right;
  margin-top: 28px;
  margin-right: 50px;
  font-size: 24px;
  top: 0px;
  float: right;
}

.spacer {
  width: 100%;
  height: 80px;
}

img {
  width:100%;
  height: auto;
  vertical-align:bottom;
}

.lefthover {
  position:relative;
  top:0px;
  left:0px;
  width:212.5%;
  height:auto;
  display:block;
  z-index:2;
}

.righthover {
  position:relative;
  float: right;
  top:0px;
  right:0px;
  width:212.5%;
  height:auto;
  display:block;
  z-index:2;
}

.centerhover {
  position:relative;
  top:0px;
  width:189%;
  height:auto;
  display:block;
  z-index:2;
}

.leftPhoto:hover {
  overflow: visible;
}

.rightPhoto:hover {
  overflow: visible;
}

.centerPhoto:hover {
  overflow: visible;
}

.leftPhoto {
  display: inline-block;
  float: left;
  width: 32%;
  height: 100%;
  overflow: hidden;
}

.rightPhoto {
  display: inline-block;
  float: right;
  width: 32%;
  height: 100%;
  overflow: hidden;
}

.centerPhoto {
  display: inline-block;
  width: 36%;
  height: 100%;
  overflow: hidden;
}
